<!DOCTYPE html>
<head>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <style>
    a{
      text-decoration: none;
      font-size: 40px;
      font-weight: bold;
      color: black;
    }
    a:hover{
      color: blue;
    }
  </style>
</head>
  <body style="text-align: center;">
    <!-- 파일이 업로드 된 후 업로드 성공을 사용자에게 알림 -->
    <h3 style="margin-top: 30px;">파일 업로드 성공!</h3>
    <hr style="margin: 30px;" width="100%" color="black"/>
    <img src="static/tick.png", width="100"/>
    <!-- 메인 화면으로 돌아가기 위한 하이퍼링크 -->
    <p><a href="/">To Main</a></p>
  </body>
</html>


